# ignore ALL .log files
*.log

# ignore ALL saved model files
*.joblib


*.csv
# ignore k8s configmaps
*configmap.yaml

# ignore ALL files in ANY directory named temp
local_files/
cert/

.env
.idea/
dbnavigator.xml
.idea/dbnavigator.xml